<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/a" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>개인 정보</legend>
            아이디 : <input type="text" name="name" id="name"><br>
            비밀번호 : <input type="password" name="password"><br>
            이름 : <input type="text" name="name2"><br>
            나이 : <input type="text" name="age">
        </fieldset>
        
        <input type="file" name="userfile" id="userfile">
        <input type='reset' value="리셋"> <button>회원가입</button>
    </form>
</body>
</html>